body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1faff; /* רקע כחול בהיר */
    color: #333;
}

.header {
    display: flex;
    /* justify-content: center;  */
    justify-content: space-between;
    position: relative;
    align-items: center;
    background-color: #1e88e5; /* כחול עיקרי */
    padding: 1rem;
    color: white;
}
.header .btn{
    background-color: white;
    color: #1e88e5;
    border: 2px solid #42a5f5;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
#returnBack {
    align-items: first baseline;
}

#dashboardBtn {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    
}

#dashboardBtn:hover {
    background-color: #42a5f5;
    color: white;
    border-color: #64b5f6;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}

.chart-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    border: 1px solid #42a5f5; /* גבול כחול */
}

canvas {
    max-width: 100%;
}

.chart-details {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0;
    font-size: 0.9rem;
    color: #1e88e5;
}
