<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login and Reset</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <div class="container">
        <!-- Reset Password Form -->
        <div id="reset-password-form">
            <h2>Reset Your Password</h2>
            <form id="reset-password">
                <div class="form-group">
                    <input type="email" id="reset-email" name="reset-email" placeholder="Enter your email" required>
                    <span id="reset-email-error" class="error-message"></span>

                </div>

                <button type="submit">Send Reset Link</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const emailInput = document.getElementById('reset-email');
            const errorMessage = document.getElementById('reset-email-error');

            // Clear previous messages
            errorMessage.textContent = '';           
            const email = emailInput.value.trim();

            // Basic email validation
            if (!email) {
                errorMessage.textContent = 'Email is required.';
                errorMessage.classList.add('error-message');
                return;
            }

            try {
                const response = await fetch('http://localhost:3000/api/reset-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email })
                });
                const data = await response.json();

                if (response.ok) {
                    alert(data.message);

                } else {
                    errorMessage.textContent = data.message;

                }
            } catch (error) {
                errorMessage.textContent = "An error occurred, please try again.";
            }
        });
    </script>

</body>
</html>
