<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login and Reset</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <!-- Set New Password Form -->
        <div id="set-new-password-form">
            <h2>Set New Password</h2>
            <form id="set-new-password">
                <div class="form-group">
                    <input type="password" id="new-password" name="new-password" placeholder="Enter a new password" required>
                </div>

                <div class="form-group">
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your new password" required>
                    <span id="new-password-error" class="error-message"></span>
                </div>

                <button type="submit">Set Password</button>
            </form>
        </div>
        <!-- Message div to display success or error messages -->
        <div id="message"></div>
    </div>

    <!-- <script src="/js/login.js"></script> -->
    <script>
        document.getElementById('set-new-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const email = new URLSearchParams(window.location.search).get('email');
            const newPassword = document.getElementById('new-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            
            // Validate if passwords match
            if (newPassword !== confirmPassword) {
                document.getElementById('new-password-error').innerText = 'Passwords do not match.';
                document.getElementById('new-password-error').style.color = 'red';
                return;
            }

            try {
                const response = await fetch('/api/set-new-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email, newPassword, confirmPassword })
                });
                const data = await response.json();
                if (response.ok) {
                    document.getElementById('message').innerText = data.message;
                } else {
                    document.getElementById('message').innerText = data.message;
                }
            } catch (error) {
                document.getElementById('message').innerText = 'An error occurred, please try again.';
            }
        });
    </script>

</body>
</html>
